/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
*:focus {
  outline: none;
}.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 102px;

  font-family: var(--font-primary);
  font-variation-settings: "wght" var(--normal-wght, 400);
  line-height: normal;
  color: var(--accent-color, #000);

  background-color: var(--bg-color, #fff);
  background-image: var(--bg-image);
  background-size: 4px;
  background-repeat: repeat;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: clamp(320px, 100%, var(--max-wdth, 700px));
  margin-block-end: 100px;
  padding: clamp(120px, 32dvi, 136px) 0 25px;

  font-family: var(--accent-font, fantasy);
  font-weight: 400;

  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.header__logo {
  font-family: 'Press Start 2P';
  font-weight: inherit;
  font-size: clamp(3.0625rem, 2.7292rem + 1.4815vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title {
  padding-block-start: 20px;
  font-family: 'Press Start 2P';
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.6875rem + 0.8333vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu {
  padding-block-start: 25px;
  padding-inline-start: 20px;
}

.theme-menu__list {
  font-family: 'Press Start 2P';
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;

  border: none;

  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  bottom: -1px;
  background-color: currentColor;
  transition: width 0.3s ease;
  opacity: 0.6;
  position: absolute;
}
.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:hover::after {
  width: 100%;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -20px;
  top: 0;
  animation: pointer 0.5s ease-in-out infinite alternate;
}

.main {
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 51px;
  inline-size: clamp(320px, 100%, var(--max-wdth, 700px));
  padding-block-end: 102px;
}

.card {
  font-size: 18px;

  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card__title {
  padding: 3px 10px;
  font-variation-settings: wght var(--font-weight-main);
  font-size: inherit;
  font-variation-settings: "wght" var(--bold-wght, 700);
  line-height: normal;
}

.card__picture {
  inline-size: 100%;
  min-inline-size: 371px;
  max-inline-size: 696px;
  aspect-ratio: 1/1;
}

.card__content {
  padding: 25px;
}

.card__description {
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.paragraph {
  font-variation-settings: "wght" var(--normal-wght, 400);
  line-height: 116.667%;
}

.card__controls {
  margin: 0 25px 25px 0;
  justify-self:end;
  display: flex;
  padding: 0;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  inline-size: 39px;
  block-size: 34px;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}
.sparks {
  opacity: 0;
}
.content__button {
  padding: 0;
  min-inline-size: 130px;
  min-block-size: 38px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  inline-size: min-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-change {
  position: relative;
  z-index: 1;
  font-family: var(--font-accent);
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
}
.button-hov {
  color: var(--accent-color);
  transition: color 1s ease, box-shadow 0.3s ease;
}

.button-hov:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

button.button-hov:hover {
  color: var(--bg-color);
  fill: currentColor;
}

.button-hov::after {
  content: '';
  inline-size: 0;
  block-size: 100%;
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  transition: inline-size 0.5s ease-in-out;

}

.button-hov:hover::after {
  cursor: pointer;
  inline-size: 100%;
}

.card__like-button {
  min-inline-size: 126px;
  min-block-size: 34px;
}

.footer__button {
  margin: 50px auto 100px auto;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
}


.button__text {
  position: relative;
  z-index: 1;
  background-color: transparent;
  font-family: var(--font-accent);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  transition: color 1s ease;
}
.footer__save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  padding: 15px;
  min-inline-size: 306px;
  inline-size: min(80dvi, 335px);

  background-color: var(--bg-color);
  fill: currentColor;
}
.footer__button-text {
  padding-block-start: 3px;
}
.footer__svg {
  inline-size: 28px;
  block-size: 28px;
  font-family: var(--font-accent);
  fill: currentColor;
  position: relative;
  z-index: 1;
}

@media (375px < width) {
  .footer__button {
    flex-flow: row;
    gap: 8px;
    padding: 15px 21px 15px 19px;
  }
}