/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-weight-main: 700;
  --font-weight-main-text: 400;
    --font-primary: 'Inter', sans-serif;
    --font-accent: 'PressStart2P', fantasy;
    --heart-fill: #FF0000;
  
  
    --normal-wght: 400;
    --bold-wght: 700;
  
    --bg-color: #FFF;
    --accent-color: #000;
  
    --bg-image: url(../svg/pattern-light.svg);
    --pointer-disabled: url(../images/pointer-light.png);
    --name: #000;
    --fill: #ff0000;
  }
  